@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --darktop: #272727;
  --lighterdarktoplighterdarktop: #303030;
  --greytext: #8a8a8a;
  --pjlightgreen: #d6ffe7;
  --pjgreen: #01913c;
}
/*
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

p {
  font-size: 1.1rem;
}
@layer components {
  .parent-wrap {
    @apply px-[0.5rem] md:px-[2rem] lg:px-[4rem] lg:py-[4rem] ;
  }
  .sectionheader {
    @apply text-[2rem] md:text-headertext font-extrabold ;
  }

  .footerheader {
    @apply text-[1.8rem] font-bold;
  }

  .card {
    @apply bg-gray-100 shadow-md p-4 rounded-lg;
  }
}
