@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --darktop: #272727;
  --lighterdarktoplighterdarktop: #303030;
  --greytext:#8A8A8A;
  --pjgreen:#01913C;
}
/*
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
.parent-wrap{
  padding:0rem 4rem  ;
}
p{
  font-size: 1.1rem
}
@layer components {
  .sectionheader {
    @apply text-headertext font-extrabold ;
  }

  .card {
    @apply bg-gray-100 shadow-md p-4 rounded-lg;
  }
}
